<!DOCTYPE html>
<html>
  <head>
    <title>JSK DB</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>JSK DB</h1>
    <p>Welcome to JSK DB</p>
  </body>
</html>
